@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap-grid.scss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding-bottom: 4rem;
  overflow: hidden;
}

p {
  margin-bottom: 0.5rem;
}

section {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  padding-top: 5rem;

  &#about,
  &#posts,
  &#contacts {
    min-height: 90vh;
  }

  $color1: #b0b0b090;
  $color2: #ffffff90;
  $color3: #afa0ae;
  $color4: #ffffff;

  & > h2 {
    //background: linear-gradient(to right, $color1, $color2);
    background: linear-gradient(to right, $color1, 30%, $color2 80%),
      linear-gradient(170deg, $color3, 30%, $color4 65%);

    //linear-gradient(45deg, $color1, $color2);

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    padding: 2rem;
    text-align: left;
    text-transform: uppercase;
    //background: linear-gradient(170deg, rgba(140, 140, 140, 0.7), 30%, white),;
  }
}

.brand {
  h1 {
    font-size: 14px;
    color: #817181;
    .name {
      display: block;
      font-size: 20px;
      color: #414121;
    }
  }
}
